






/* 
Declaration order
    Positioning
    Box model
    Typographic
    Visual
    Misc
 */



/* Зміні кольорів */
:root{
    --prbrand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --success-color:#31D0AA;
    --text-color:#434455;
    --subtle-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --white-color:#fff;

    --cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1);
}






    
.logo-color{
    color:var(--prbrand-color);
    margin-right: -4px;    
}

.logo{
  
  
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform:uppercase;
    text-decoration: none;
    color:var(--dark-color)    
}

.hero{
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px ;
}

.overlay{
    
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),  
        url(../images/people_office.jpg); 
        
}

.hero-title{
    margin-bottom: 72px;
    
    color:var(--light-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;    
}
    
.button-hero{
    border-radius: 4px;
    padding: 16px 32px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;   
    font-family: inherit;
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;

    
}
    
        
   
.button-hero:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.button-hero:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}     



.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 



.service-list{
    text-align: left; 
    padding-left: 0;  
    margin: 0;    
}

.servic-subh{
    text-align: center; 
    margin-bottom: 8px;
    margin-top: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1; 
    text-transform:capitalize;
    color:var(--dark-color);
} 



.our-team{      
    text-align: center;
    background-color: var(--light-color);    
}

.section{
    padding-bottom: 128px;
    padding-top:96px;
    
}

.our-team-list{
    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0px;
}

.team-icon{
    display: inline-block;
    width: 260px;
    margin-top: 72px;
    
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img{
    display: inline;
}

.team-text{
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-title{
   
    color:var(--dark-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-transform:capitalize;   
}

.team-social{
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin-top: 12px;
    gap: 16px;
}

.element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;    
}   

.team-svg{
    height: 16px;
    width: 16px;
   
    fill: var(--light-color);      
}









/* ==================== Mobile=========================== */



body {
   
    /* width: 1440px;
    margin-left: auto;
    margin-right: auto; */
    
            
    color:var( --text-color);
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color:var(--white-color) ;
    font-size: 16px;
    line-height: 1.5;    
} 

/* прибирання крапок переліку  */
h1,h2,h3,p,a{
    margin: 0;
    padding: 0;
}

/* переведення зображень в блоки щоб прибрати паразитні падінги */
img{
    display: block;
    max-width: 100%;
}

.list{
    list-style: none;
}


header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ====================зображення героя======================== */
.overlay{
    display: block;
    max-width: 100%;
    height: auto;  
    

    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),  
        url(../images/media/hero-mobile.webp); 
}

@media screen and (min-device-pixel-ratio:2)  and (min-width: 320px),
screen and (min-resolution:192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width:320px){
    .overlay{
        background-image: linear-gradient(
            to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  
            url(../images/media/hero-mobile@2x.webp); 
    }
}

@media screen and (min-width:768px) {
    .overlay{
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),  
        url(../images/media/hero-tablet.webp); 
    }
    
}
@media screen and (min-device-pixel-ratio:2)  and (min-width: 768px),
screen and (min-resolution:192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width:768px){
    .overlay{
        background-image: linear-gradient(
            to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  
            url(../images/media/hero-tablet@2x.webp); 
    }
}




@media screen and (min-width:1200px) {
    .overlay{
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),  
        url(../images/media/hero-desktop.webp); 
    }
    
}

@media screen and (min-device-pixel-ratio:2)  and (min-width: 1200px),
screen and (min-resolution:192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px){
    .overlay{
        background-image: linear-gradient(
            to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),  
            url(../images/media/hero-desktop@2x.webp); 
    }
}
/* ==================== Х зображення героя======================== */


.customer{
    
    
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.02em;
}

.customer-list{
    margin-bottom: 0;
    margin-top: 72px;
    gap: 72px 16px ;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content:center;  
}

.customer-svg{
    height: 56px;
    width: 104px;
}


.customer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 190px;
    

    fill:var(--subtle-color);
    border: 1px solid var(--subtle-color);
    border-radius: 4px;

    transition: fill 250ms var(--cubic-bezier),
                border 250ms var(--cubic-bezier);   
}

.customer-link:hover,    
.customer-link:focus{
    fill:var(--prbrand-color); 
    border: 1px solid var(--prbrand-color);
}

footer{
    background-color:var(--dark-color);
    color:var(--accent-color) ;
}

.footer-block{
    text-align: center;
   
    padding-top:96px ;  
    padding-bottom: 96px;
}

.logo-footer{
    
    color:var(--light-color);
    margin-right: auto;
    margin-left: auto;
}

.footer-text{
        margin-top: 16px;
        width: 268px;
        margin-left: auto;
        margin-right: auto;

        text-align: left;
}

.footer-social{
    margin-right: auto;
    margin-left: auto;
    width: 208px;
    padding-top: 72px;
    padding-bottom: 72px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  
}
h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
}


.footer-social-list{
    display: flex;
    justify-content: space-between;
    padding:0px;
}

.footer-element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-radius: 50%;  
    
    transition: background-color 250ms var(--cubic-bezier);
}

.footer-element-social:hover,
.footer-element-social:focus{
    background-color:#31D0AA;
}

.footer-team-svg{
    width: 24px;
    height: 24px;
    

    fill: var(--light-color);
}

/* =====================================footer form mobile============================================ */


.footer-form{
    margin-top:16px;
       
}

.footer-form-input{
    
    
    width: 100% ;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: var(--dark-color);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: var(--white-color);
      
}

.footer-form-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button{
    margin-top:16px;
    display:inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  
    
    

    min-width: 165px;
    height: 40px;
    border-radius: 4px;    
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 2;     
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;
}
   
.subscribe-form-button:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.subscribe-form-button:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}

.subscribe-form-button::after{
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 16px ;
    background-image: url(../images/svg/fly.svg);
}






/* ==================== Mobile=========================== */
/* 0px-767px */
@media screen and (max-width:767px) {
    .site-nav{
        display: none;
    }   

    .contact-date{
    display: none; 
    }

    .page-header{
        align-items: center;
        display: flex;  
        background-color: var(--white-color);
        justify-content: space-between;
        padding-bottom:24px ;
        padding-top: 24px;
    }

    .container{
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
       
    }

    .wedoing{
        display: none;
    }
        

    /* ======================Mobile menu========================== */
    
    .mobile-menu-open{
        z-index: 100;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        fill: #4D5AE5;
        top: 0;
        left: 0;


    }
    .mobile-menu{
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }
    .mobile-container{
        position: relative;
        width: 428px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .mobile-menu.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition:  opacity 500ms var(--cubic-bezier);
        /* overflow-y: scroll;
        overflow: hidden; */
    }

    .mobile-menu_close-btn{
        position: absolute;
        top:40px;
        right: 40px;


        background-color: transparent;
        
        padding: 0;
        line-height: 0;
        width: 24px;
        height: 24px;

        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor:pointer; 
    }


    .mobile-menu_close-btn:hover,
    .mobile-menu_close-btn:focus{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border:0;
    }

    .site-nav-mobile{
        padding-left: 0;      
        padding-top: 60px;
        margin: 0;
    }

    .nav-link-mobile{
        display: block;
        padding:  20px 0;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.12;
        color:var(--dark-color);
        text-decoration: none;  
        
        transition: color 250ms var(--cubic-bezier);
    }
    .nav-link-mobile:hover,
    .nav-link-mobile:focus{
        color:var(--prbrand-color);
    } 

    .contact-link-mobile{
        /* display: block; */
        

        text-decoration: none;
        color: var(--text-color);

        transition: color 250ms var(--cubic-bezier);
    }


    /* Виділення активної сторінки, підкреслення */
    .nav-link-mobile.current{
        color:var(--prbrand-color);     
    }
    .contact-date-mobile{
        padding: 0;
        margin-top:284px;
        margin-bottom: 48px;
    }

    .contact-link-mobile-nb{
        /* display: block; */
        /* padding:  24px 0; */

        font-weight: 700;
        font-size: 36px;
        line-height: 1.12px;
        text-transform: capitalize;

        text-decoration: none;
        color: var(--prbrand-color);
    }

    .contact-link-mobile{
        display: block;
        margin-top: 40px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    }

    .mobile-social-list{
        display: flex;
        justify-content: space-between;
        padding:0px;
    }

    .mobile-element-social{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 40px;
        width: 40px;
        background-color: var(--prbrand-color);
        border-radius: 50%;  
        
        transition: background-color 250ms var(--cubic-bezier);
    }

    .mobile-team-svg{
        width: 24px;
        height: 24px;
        

        fill: var(--light-color);
    }

    /* ======================Mobile menu========================== */

}

/* ======================================Tablet================================= */
@media screen and (max-width:1440px){
    .wedoing{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }

    .mobile-menu-open{
        display: none;
    }
    .container{
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-header{
        align-items: center;
        display: flex;  
        background-color: var(--white-color);
    } 

    .block-nav{
        display: flex;
        align-items: center;
    } 
    .block-nav{
        display: flex;
        align-items: center;

    }
    .logo{
        padding-top: 24px ;
        padding-bottom: 24px;
      
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform:uppercase;
        text-decoration: none;
        color:var(--dark-color)    
    } 
    
    .site-nav{    
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 123px;
        padding: 0;   
    } 
    
     .site-nav .item + .item {
        margin-left: 40px;
    }
    
    .item{
        display: block;  
        position: relative;  
    } 

/*header  панель навігації студія-контакт */

 .nav-link{
    display: block;
    padding:  24px 0;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--dark-color);
    text-decoration: none;  
    
    transition: color 250ms var(--cubic-bezier) ;
    }

    .nav-link:hover,
    .nav-link:focus{
        color:var(--prbrand-color);
    } 
    /* Виділення активної сторінки, підкреслення */
    .nav-link.current{
        color:var(--prbrand-color);
        
    }

    .current::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content:' ';
        
        
        
        width: 100%;
        height: 4px; 
        border-radius: 2px;
    
        background-color: #404BBF;
    } 

    .contact-date{
        padding: 0;
        padding-top: 24px;
        margin: 0;
        margin-left: 118px;   
    } 

    .contact-date .item + .item{
        margin-top: 4px;
    }


    .contact-link{
        display: block;
        
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;

        text-decoration: none;
        color: var(--text-color);

        transition: color 250ms var(--cubic-bezier);
    }

    .contact-link:hover,
    .contact-link:focus{
        color:var(--prbrand-color);    
    }

    /* main */


    .hero{
        text-align: center;
        padding: 137px;
    }

    .overlay{
        
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       
    }

    .hero-title{
        margin-bottom: 48px;
        
        color:var(--light-color) ;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;    
    }
        
    .button-hero{
        border-radius: 4px;
        padding: 16px 32px;
        border: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;   
        background-color:var(--prbrand-color);
        color:var(--light-color);
        letter-spacing:0.04em;
        cursor:pointer;      
    }
                  
    .button-hero:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
    }
    .service{
        text-align: left; 
    }
    
    .service-list{
        display: flex;
        flex-wrap: wrap;
        
        padding-left: 0;
        justify-content: space-between;
        gap: 24px;
    
        margin: 0;   
         
    }
    .service-list-item{
        
        width: 356px;
        
    }
    .servic-subh{
        text-align: left; 
    }

    .our-team{      
        text-align: center;
        background-color: var(--light-color);    
    }
    
    .section{
        padding-bottom: 96px;
        padding-top:96px ;
        
    }
    
    .our-team-list{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
        
        gap: 64px 24px;
        margin-top: 0;
        margin-bottom:0px ;
    }
    
    .team-icon{
        margin-top: 0px;
        background-color: var(--white-color);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .team-text{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .section-title{
        margin-bottom: 72px;
    
        color:var(--dark-color) ;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.12;
        text-transform:capitalize;   
    }
    
    .team-social{
        display: flex;
        justify-content: center;
        
        padding: 0;
        margin-top: 12px;
        gap: 16px;
    }
    
    .element-social{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 40px;
        width: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;    
    }   
    
    .team-svg{
        height: 16px;
        width: 16px;
       
        fill: var(--light-color);          
    }

    .customer-list{
        justify-content: center;
        gap: 72px 24px ;
        margin-top: 72px;
    }
    .customer-link{
        width: 168px;
    }




/* футер зміна кольорів */
 footer{
    background-color:var(--dark-color);
    color:var(--accent-color) ;
}

.footer-block{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;

    padding-top:96px ;  
    padding-bottom: 96px;
}

.logo-footer{
    margin-left: 0;
    padding: 0;
    
    color:var(--light-color);
}

.footer-text{
    width: 264px;
    margin-top: 16px;
}

.footer-social{
    margin-left: 24px;
    margin-right: 55px;
    width: 208px;
    padding: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
    padding:0px;
}

.footer-element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-radius: 50%;  
    
    transition: background-color 250ms var(--cubic-bezier);
}

.footer-element-social:hover,
.footer-element-social:focus{
    background-color:#31D0AA;
}

.footer-team-svg{
    width: 24px;
    height: 24px;
    

    fill: var(--light-color);
} 
.subscribe-titel{
    margin-top: 72px;
   
}
.footer-form {
    display: flex;

    padding-right:98px ;
}

.subscribe-form-button{
    margin: 0;
    margin-left:24px ;
}

.footer-form-input{
    min-width:264px ;
}
}

/* ======================================Tablet================================= */

/*==================================== DESCTOP============================ */

@media screen and (min-width: 1200px) {
    .logo{
        padding-top: 24px ;
        padding-bottom: 24px;
      
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        text-transform:uppercase;
        text-decoration: none;
        color:var(--dark-color)    
    }

    .container{
        width: 1152px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
        } 

    .site-nav{    
     margin-left: 77px;       
    } 

    .site-nav .item + .item {
        margin-left: 40px;
    }

    .item{
        display: block;  
        position: relative;  
    } 
/*header  панель навігації студія-контакт */

     .nav-link{
    display: block;
    padding:  24px 0;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--dark-color);
    text-decoration: none;  
    
    transition: color 250ms var(--cubic-bezier) ;
}

.nav-link:hover,
.nav-link:focus{
    color:var(--prbrand-color);
} 
/* Виділення активної сторінки, підкреслення */
 .nav-link.current{
    color:var(--prbrand-color);
     
}

.current::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content:' ';
    
    
    
    width: 100%;
    height: 4px; 
    border-radius: 2px;
  
    background-color: #404BBF;
} 

.contact-date{
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 331px;   
} 

.contact-link{
    display: block;
    padding:  24px 0;

    text-decoration: none;
    color: var(--text-color);

    transition: color 250ms var(--cubic-bezier);
}

.contact-link:hover,
.contact-link:focus{
    color:var(--prbrand-color);    
}

.contact-date .item + .item{
    margin-left: 40px;
    margin-top:0 ;
} 

/* main */


    .hero{
        padding: 192px;
    }

.overlay{
    
    max-width: 1440px;
           
}

.hero-title{
    margin-bottom: 48px;
    
    color:var(--light-color) ;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;    
}
    
.button-hero{
    border-radius: 4px;
    padding: 16px 32px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;   
    font-family: inherit;
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;

    
}
    
        
   
.button-hero:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.button-hero:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}     

/* Секція 2 скіли */


/* заголовок який потрібно приховати */
 .visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 

.service{
    text-align: left; 
}

.service-list{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    justify-content: space-between;
    gap: 22px;

    margin: 0;    
}

.service-list-item::before{
    display: block;
    content: "";
    height: 112px;
    border-radius: 4px;
    
    background-size: 64px;      
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-color);
    
}
.service-list-item:nth-child(1)::before{
    background-image: url(../images/svg/antenna.svg);    
}
.service-list-item:nth-child(2)::before{
    background-image: url(../images/svg/clock.svg);    
}
.service-list-item:nth-child(3)::before{
    background-image: url(../images/svg/diagram.svg);    
}
.service-list-item:nth-child(4)::before{
    background-image: url(../images/svg/astronaut.svg);    
}



.servic-subh{
    
    margin-bottom: 8px;
    margin-top: 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2; 
    text-transform:capitalize;
    color:var(--dark-color);
} 

/* ситлі для секцій  при потребі попередню теж можна обєднати*/

 .wedoing{
    text-align: center;
    padding-bottom: 120px;
   
}
.wedoing-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;   
    margin-bottom: 0; 
   
}

.wedoing-list li{
    border: 1px solid var(--accent-color);
}

/* Our team --> */

 .our-team{      
    text-align: center;
    background-color: var(--light-color);    
}

.section{
    padding-bottom: 120px;
    padding-top:120px ;
    
}

.our-team-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom:0px ;
}

.team-icon{
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text{
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-title{
    margin-bottom: 72px;

    color:var(--dark-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-transform:capitalize;   
}

.team-social{
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin-top: 12px;
    gap: 16px;
}

.element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;    
}   

.team-svg{
    height: 16px;
    width: 16px;
   
    fill: var(--light-color);
      
} 

/* Customers */

.customer{
    
    
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    

}

.customer-list{
    margin-bottom: 0;
    margin-top: 72px;

    display: flex;
    padding: 0;
    justify-content:space-between;
  
}
.customer-svg{
    height: 56px;
    width: 104px;

}


.customer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 168px;

    fill:var(--subtle-color);
    border: 1px solid var(--subtle-color);
    border-radius: 4px;

    transition: fill 250ms var(--cubic-bezier),
                border 250ms var(--cubic-bezier);
   
}

.customer-link:hover,    
.customer-link:focus{
    fill:var(--prbrand-color); 
    border: 1px solid var(--prbrand-color);
}
 
/* футер зміна кольорів */
 footer{
    background-color:var(--dark-color);
    color:var(--accent-color) ;
}

.footer-block{
    display: flex;
    padding-top:100px ;  
    padding-bottom: 100px;
}

.logo-footer{
    margin-left: 0;
    padding: 0;
    
    color:var(--light-color);
}

.footer-text{
    width: 264px;
    margin-top: 16px;
}

.footer-social{
    margin-left: 120px;
    width: 208px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
    padding:0px;
}

.footer-element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-radius: 50%;  
    
    transition: background-color 250ms var(--cubic-bezier);
}

.footer-element-social:hover,
.footer-element-social:focus{
    background-color:#31D0AA;
}

.footer-team-svg{
    width: 24px;
    height: 24px;
    

    fill: var(--light-color);
} 



}










/*==================================== DESCTOP============================ */



/* Header */
/* .page-header{
    align-items: center;
    display: flex;  
    background-color: var(--white-color);
} */

/* .block-nav{
    display: flex;
    align-items: center;
} */

/* 


.logo{
    padding-top: 24px ;
    padding-bottom: 24px;
  
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform:uppercase;
    text-decoration: none;
    color:var(--dark-color)    
} */

/* .site-nav{    
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 77px;
    padding: 0;   
} */

/* .site-nav .item + .item {
    margin-left: 40px;
}

.item{
    display: block;  
    position: relative;  
} */


/* альтернативний метод задання відступу: 
    .site-nav .item:not(:last-child){
    marin-right: 40px;
    }
*/

/*header  панель навігації студія-контакт */

/* .nav-link{
    display: block;
    padding:  24px 0;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--dark-color);
    text-decoration: none;  
    
    transition: color 250ms var(--cubic-bezier) ;
}

.nav-link:hover,
.nav-link:focus{
    color:var(--prbrand-color);
} */
/* Виділення активної сторінки, підкреслення */
/* .nav-link.current{
    color:var(--prbrand-color);
     
}

.current::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content:' ';
    
    
    
    width: 100%;
    height: 4px; 
    border-radius: 2px;
  
    background-color: #404BBF;
} */

/* .contact-date{
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 331px;   
} */

/* .contact-link{
    display: block;
    padding:  24px 0;

    text-decoration: none;
    color: var(--text-color);

    transition: color 250ms var(--cubic-bezier);
}

.contact-link:hover,
.contact-link:focus{
    color:var(--prbrand-color);    
}

.contact-date .item + .item{
    margin-left: 40px;
} */

/* main */


/* .hero{
    text-align: center;
    padding: 192px;
}

.overlay{
    
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),  
        url(../images/people_office.jpg); 
        
}

.hero-title{
    margin-bottom: 48px;
    
    color:var(--light-color) ;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;    
}
    
.button-hero{
    border-radius: 4px;
    padding: 16px 32px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;   
    font-family: inherit;
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;

    
}
    
        
   
.button-hero:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.button-hero:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}     */

/* Секція 2 скіли */
/* .container{
width: 1152px;
margin-left: auto;
margin-right: auto;
padding-left: 12px;
padding-right: 12px;
} */

/* заголовок який потрібно приховати */
/* .visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 

.service{
    text-align: left; 
}

.service-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    gap: 22px;

    margin: 0;    
}

.service-list-item::before{
    display: block;
    content: "";
    height: 112px;
    border-radius: 4px;
    
    background-size: 64px;      
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-color);
    
}
.service-list-item:nth-child(1)::before{
    background-image: url(../images/svg/antenna.svg);    
}
.service-list-item:nth-child(2)::before{
    background-image: url(../images/svg/clock.svg);    
}
.service-list-item:nth-child(3)::before{
    background-image: url(../images/svg/diagram.svg);    
}
.service-list-item:nth-child(4)::before{
    background-image: url(../images/svg/astronaut.svg);    
}



.servic-subh{
    
    margin-bottom: 8px;
    margin-top: 8px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2; 
    text-transform:capitalize;
    color:var(--dark-color);
} */

/* ситлі для секцій  при потребі попередню теж можна обєднати*/

/* .wedoing{
    text-align: center;
    padding-bottom: 120px;
   
}
.wedoing-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;   
    margin-bottom: 0; 
   
}

.wedoing-list li{
    border: 1px solid var(--accent-color);
}

/* Our team --> */

/* .our-team{      
    text-align: center;
    background-color: var(--light-color);    
}

.section{
    padding-bottom: 120px;
    padding-top:120px ;
    
}

.our-team-list{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom:0px ;
}

.team-icon{
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text{
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-title{
    margin-bottom: 72px;

    color:var(--dark-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-transform:capitalize;   
}

.team-social{
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin-top: 12px;
    gap: 16px;
}

.element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;    
}   

.team-svg{
    height: 16px;
    width: 16px;
   
    fill: var(--light-color);
      
} */ 

/* Customers */

/* .customer{
    
    
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    

}

.customer-list{
    margin-bottom: 0;
    margin-top: 72px;

    display: flex;
    padding: 0;
    justify-content:space-between;
  
}
.customer-svg{
    height: 56px;
    width: 104px;

}


.customer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 168px;

    fill:var(--subtle-color);
    border: 1px solid var(--subtle-color);
    border-radius: 4px;

    transition: fill 250ms var(--cubic-bezier),
                border 250ms var(--cubic-bezier);
   
}

.customer-link:hover,    
.customer-link:focus{
    fill:var(--prbrand-color); 
    border: 1px solid var(--prbrand-color);
}
 */




/* футер зміна кольорів */
/* footer{
    background-color:var(--dark-color);
    color:var(--accent-color) ;
}

.footer-block{
    display: flex;
    padding-top:100px ;  
    padding-bottom: 100px;
}

.logo-footer{
    margin-left: 0;
    padding: 0;
    
    color:var(--light-color);
}

.footer-text{
    width: 264px;
    margin-top: 16px;
}

.footer-social{
    margin-left: 120px;
    width: 208px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
    padding:0px;
}

.footer-element-social{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;
    background-color: var(--text-color);
    border-radius: 50%;  
    
    transition: background-color 250ms var(--cubic-bezier);
}

.footer-element-social:hover,
.footer-element-social:focus{
    background-color:#31D0AA;
}

.footer-team-svg{
    width: 24px;
    height: 24px;
    

    fill: var(--light-color);
} */



/* Button Filter */

.button{
    border-radius: 4px;
    /* розібратись з правильними падінгами і марджином від шрифта */
    padding: 12px 24px;
    border: 0.5px solid var(--accent-color);  
    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;   
    font-family: inherit;

    background-color:var(--accent-color);
    color:var(--prbrand-color);
    letter-spacing:0.04em;
    cursor:pointer; 
    
    transition: color 250ms var(--cubic-bezier),
                background-color 250ms var(--cubic-bezier),
                box-shadow 250ms var(--cubic-bezier);
}

.button:hover,
.button:focus{
    border:0.5px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color:var(--prbrand-color); 
    color: var(--accent-color);
}
 
/* індивідуальні стилі портфоліо  */

.portfolio{
    padding-left: 0;
    padding-top: 96px ;
    padding-bottom: 120px;
    text-align: left;    
}

.portfolio-filter{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 72px ;
    gap: 24px;    
    
}

.portfolio-samples{
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

/* .sample{
    
} */

.section-subh{
    margin-bottom: 8px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2; 
    text-transform:capitalize;
    color:var(--dark-color);     
}

.list-potfolio{
    width: 360px;
    display: block;
    text-decoration: none;
    color: var(--text-color) ;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms var(--cubic-bezier) ;
}

.list-potfolio:hover,
.list-potfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.box-overlay{
   position: relative; 
   overflow: hidden; 
}

.portfolio-overlay{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;
     
    padding: 40px 32px ;
    color: var(--light-color);
    background-color:var(--prbrand-color);
    opacity: 0.95;

    transform: translate(0, 100%);
    transition: transform 250ms var(--cubic-bezier) ;
} 

.list-potfolio:hover .portfolio-overlay,
.list-potfolio:focus .portfolio-overlay{
    transform: translate(0,0);
}

.sample-element{
    padding-bottom: 32px;
    padding-left: 16px;
    padding-top: 32px;
    border-bottom: 0.5px solid var(--light-color);
    border-left: 0.5px solid var(--light-color);
    border-right: 0.5px solid var(--light-color);
}
/* =====================================footer form============================================ */
/* .subscribe-titel{
    margin-left: 80px ;
}

.footer-form{
    display: flex;
    align-items: center;
    margin-top:16px;
    
}

.footer-form-input{
    width: 264px ;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: var(--dark-color);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: var(--white-color);
      
}

.footer-form-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button{
    display:inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    
    

    min-width: 165px;
    height: 40px;
    border-radius: 4px;    
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 2;     
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;
}
   
.subscribe-form-button:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.subscribe-form-button:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}

.subscribe-form-button::after{
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 16px ;
    background-image: url(../images/svg/fly.svg);
} */

/* ==================================== MODAL WINDOW====================================== */
.backdrop{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    scale: 100%;

    transition: opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier),
    scale 250ms var(--cubic-bezier);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 408px;
    height:584px;  
    background-color: #FCFCFC;    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;   

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 24px;

}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;  
    width: 24px;  
    height: 24px;
  
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor:pointer; 

    transition: box-shadow 250ms var(--cubic-bezier);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border:0;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 0%;
}

/* ===================================FORM========================================== */
.form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
 
    text-align: center;

   
    margin-bottom: 14px;

}

.modal-form{
   display: flex;
   flex-direction: column; 
}

.modal-form-field{
    margin-bottom:8px ;
}

.modal-form-input-desc{
    display: block;
    margin-bottom: 4px;

    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33; 
    letter-spacing: 0.04em;
    color: var(--subtle-color);   
}
.modal-form-box-svg{
    position: relative;
    
}
.modal-form-svg{
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
     
    fill: var(--dark-color);
    transition: fill 250ms var(--cubic-bezier) ;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    color: var(--text-color);

    transition: border-color 250ms var(--cubic-bezier) ;
}

.modal-form-input:focus{
    outline: none;
    border-color: var(--prbrand-color);  
}

.modal-form-input:focus+.modal-form-svg{
    fill: var(--prbrand-color);
}

.modal-form-message{
    width: 100%;
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 8px 16px;

    transition: border-color 250ms var(--cubic-bezier) ;
}
.modal-form-message::placeholder{
    padding-top: 8px;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}


.modal-form-message:focus{
    outline: none;
    border-color:var(--prbrand-color) ;
}

.modal-form-check-desc{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    /* margin-top: 8px; */
    margin-bottom: 24px ;

}

.modal-form-check-desc::before{
    content: '';
    display: block;
    width:16px;
    height: 16px;
    border: 1.25px solid var(--dark-color);
    border-radius: 2px;
    cursor: pointer;    
    margin-right: 8px ;

    transition: bbackground-color 250ms var(--cubic-bezier),
    fill 250ms var(--cubic-bezier) ;
}

.modal-form-check:checked+ .modal-form-check-desc::before{
    background-image: url(../images/svg/checkbox.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10px ;
    background-color: var(--prbrand-color);
    fill:var(--light-color) ;
    border-color: var(--prbrand-color);
}

.modal-form-check:focus+ .modal-form-check-desc::before{
    outline: 1px solid var(--prbrand-color);
}
.modal-form-submit{
    align-self: center;
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 500;
    font-size: 16px;
    line-height: 2;   
    background-color:var(--prbrand-color);
    color:var(--light-color);
    letter-spacing:0.04em;
    cursor:pointer;

   
}      
   
.modal-form-submit:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.modal-form-submit:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#404BBF; 
    color:var(--white-color);
}     

